.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/Seattle.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Text-block {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 60px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 50%;
  z-index: 2;
}

.home-container::after {
  content: '';
  display: none;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .Text-block {
      width: 90%;
  }

  h1 {
      font-size: 2rem;
  }

  p {
      font-size: 1rem;
      max-width: 100%;
  }
}
