.services-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 20px 20px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.services-title {
    font-size: 3rem;
    font-weight: bold;
    color: #062031;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.services-title::after {
    content: "";
    display: block;
    width: 400px;
    height: 3px;
    background-color: #216476;
    margin: 10px auto 0;
    border-radius: 2px;
}

.services-info {
    font-size: 1.15rem;
    color: #444;
    line-height: 1.8;
    text-align: justify;
    padding: 0 20px;
    font-style: italic;
    max-width: 1000px;
    margin-bottom: 40px;
}

.services-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 120%;
}

.service-item {
    text-align: center;
    margin: 0 20px;
}

.service-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.service-name {
    font-size: 1.1rem;
    color: #444;
    font-weight: bold;
}

body {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
}
