html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Navigation-bar {
    width: 100%;
    flex-shrink: 0;
    background-color: white;
    z-index: 1000;
}

.content {
    flex: 1;
}

.Footer {
    width: 100%;
    flex-shrink: 0;
}
